<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ar</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>petpals</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>petpals-kappa.vercel.app</string>
			</array>
		</dict>
	</array>
	<key>GEMINI_API_KEY</key>
	<string>$(GEMINI_API_KEY)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>sb_publishable_mqV0JakwJ_RyedRZtvb1Tg_Ne7Q8-zu</string>
	<key>SUPABASE_URL</key>
	<string>https://wersbtloqzbpxuxxhafe.supabase.co</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>location</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
